{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>{% trans %}Reset your password{% endtrans %}</h1>

    {{ form_start(requestForm) }}
    <div class="mb-3">
        {{ form_row(requestForm.email, {
            label_attr: {class: 'form-label'},
            attr: {class: 'form-control'}
        })}}

        <small id="emailHelp" class="form-text text-muted">{% trans %}
                Enter your email address and we we will send you a
                link to reset your password.
            {% endtrans %}</small>
    </div>

        <button class="btn btn-primary">{% trans %}Send password reset email{% endtrans %}</button>
    {{ form_end(requestForm) }}
{% endblock %}