{% extends 'base.html.twig' %}

{% block title %}Edit CargoRequest{% endblock %}

{% block body %}
    <h1>Edit CargoRequest</h1>

    {{ include('request_cargo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('request_cargo_index') }}">back to list</a>

    {{ include('request_cargo/_delete_form.html.twig') }}
{% endblock %}
