{% extends 'base.html.twig' %}

{% block title %}New RequestCargo{% endblock %}

{% block body %}
    <h1>Create new RequestCargo</h1>

    {{ include('request_cargo/_form.html.twig') }}

    <a href="{{ path('request_cargo_index') }}">back to list</a>
{% endblock %}
