{% extends 'base.html.twig' %}

{% block title %}New CargoRequest{% endblock %}

{% block body %}
    <h1>Create new CargoRequest</h1>

    {{ include('cargo_request/_form.html.twig') }}

    <a href="{{ path('cargo_request_index') }}">back to list</a>
{% endblock %}
